
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte Servicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body class="text-center">
    <h1 class="mt-5">Lista de Servicio</h1>
    <div class="m-5">
        <table class="table table-dark table-striped border-success text-center align-middle">
            <caption>Lista de servicios</caption>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Descripcion</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
                @foreach (ServicioModel ser in ViewBag.servicio1)
                {
                    <tr>
                        <td>@ser.Nombre</td>
                        <td>@ser.valor</td>
                        <td>@ser.descripcion</td>
                        <td>@((ser.Estado) ? "Activo" : "Inactivo")</td>
                     </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>

