@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

input {
    margin-top:15px;
    font-size: 20px;
    margin-right:15px;
}

button {
    font-size: 20px;
}

select {
    font-size: 20px;
    margin-right:15px;
}

h1, h3 {
    color: #255000;
}

.contenido {
    margin-top: 100px;
    margin-left: 270px;
    padding-left: 50px;
    font-size: 20Px;
    justify-content: center;
}

.grid {
    padding: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 20px;
}

.sect {
    vertical-align: middle;
}

.sect select {
    margin-top: 15px;
    height: 50px;
    width: 150px;
}

.formclass {
    display: flex;
}
.formclass button{
    height:50px;
    margin-top: 100px;
}

.formclas {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size:17px;
}
.hor{
    width:220px;
}

